Repository codebuddies/codebuddies, pull requests merged in 2018-11, with the labels that each got.

#1072 CSS Fix: Today i learn ui now supports newline character
  client/css/_status_list.scss
Labels: Waiting For Review, html-css

#1073 Revert "CSS Fix: Today i learn ui now supports newline character"
  client/css/_status_list.scss
Labels: in progress

#1074 CSS Fix: Today i learn ui now supports newline character
  client/css/_status_list.scss
Labels: html-css, needs code review
